<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4639c">  <td>18/11/16 09:55:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC001_CreateLead@5025a98f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/11/16 09:55:25</td>   <td>8818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead()[pri:0, instance:testCases.TC001_CreateLead@5025a98f]">createLead</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/11/16 09:55:46</td>   <td>29611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCases.TC001_CreateLead@5025a98f]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
